{% extends 'base_account.html' %}
{% load crispy_forms_tags %}

{% block title %}
    بازیابی کلمه عبور
{% endblock %}

{% block content %}

    <div class="container bg-white shadow-md p-5 form-layout">
        <h1 style="letter-spacing: .05px" class="text-center">بازیابی کلمه عبور</h1>
        <hr>
        <p> برای بازیابی کلمه عبور، ایمیل خود را وارد کنید </p>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form | crispy }}
            <br>
            <input class="btn btn-outline-success w-100" type="submit" name="Send email" value="ثبت">
        </form>
        <br>
    </div>

{% endblock %}