{% extends 'base_account.html' %}
{% load crispy_forms_tags %}

{% block title %}
	تغییر کلمه عبور
{% endblock %}

{% block content %}
	<br>
<div class="container bg-white shadow-md p-5 form-layout">
    <h1 style="letter-spacing: .05px" class="text-center">تغییر کلمه عبور</h1>
    <hr>
    <p>کلمه عبور جدید را وارد کنید</p>
    <br>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input class="btn btn-outline-success w-100" type="submit" name="Update Password" value="ثبت">
    </form>
</div>
<br>
{% endblock %}