{% extends 'base_writer.html' %}
{% load crispy_forms_tags %}

{% block title %}
    حساب کاربری
{% endblock %}

{% block content %}
    <div class="container bg-white shadow-md p-5 form-layout">
        <h1 style="letter-spacing: .05px" class="text-center">حساب کاربری</h1>
        <hr>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ UpdateWriterAccountForm|crispy }}
            <br>
            <input class="btn btn-outline-success w-100" type="submit" value="ویرایش">
        </form>
        <br>
        <a href="{% url 'delete_account_writer' %}" class="btn btn-outline-danger w-100">
            حذف حساب کاربری
        </a>
    </div>
    <br>
{% endblock %}