{% extends 'base_writer.html' %}

{% block title %}
    داشبورد نویسنده
{% endblock %}

{% block content %}
    <div class="container bg-white shadow-md p-5 form-layout text-center">
        <h5 style="letter-spacing: .05px">✍🏼 {{ user.first_name }}،  خوش آمدی !</h5>
        <hr>
        <br>
        <a href="{% url 'create_article_page' %}" class="btn btn-outline-success w-50">
            ایجاد مقاله جدید
        </a>
        <br><br>
        <a href="{% url 'writer_articles_page' %}" class="btn btn-outline-success w-50">
            مقاله های من
        </a>
    </div>
{% endblock %}