{% extends 'base_writer.html' %}
{% load crispy_forms_tags %}

{% block title %}
    ویرایش مقاله
{% endblock %}

{% block content %}
    <div class="container bg-white shadow-md p-5 form-layout">
        <h1 style="letter-spacing: .05px" class="text-center">ویرایش مقاله</h1>
        <hr>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ UpdateArticleForm|crispy }}
            <br>
            <input class="btn btn-outline-info w-100" type="submit" value="ویرایش">
        </form>
    </div>
{% endblock %}